            <section class="main-banner">
                <div class="header-banner home">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="banner-heading">
                                    <h1>BevPort Distribution<br /><span class="blue-text">Made Easy</span></h1>
                                    <p>Innovation brands. Emerging brands. Any brand in need of distribution. Brands expanding to new markets. Anyone who loves authentic products. Those who are willing to look at distribution differently.</p>
                                    <div class="banner-btn-set">
                            <a href="#" class="btn btn-primary first-btn" onclick="location.href='@Url.Action("contactus", "Home")'">Contact Today</a>
                                        <a href="#" class="btn btn-primary secont-btn">My latest video</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="banner-right-img">
                                    <img class="img-responsive" src="images/main-banner-beer.png" />
                                </div>
                            </div>
                        </div>
                        <!---Main Banner Sub Section-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="compound-box">
                                    <div class="seller-box selling-item">
                                        <div class="postbox-images">
                                            <img src="~/images/seller-bg.png" />
                                        </div>
                                        <h2 class="main-heading-content" onclick="location.href='@Url.Action("seller", "Home")'">Sellers</h2>
                                        <h3>Looking for distribution?</h3>
                                        <p>BevPort is the fastest and least expensive route to market.</p>
                                        <div class="discover-more">
                                <a href="#" class="discover-btn" onclick="location.href='@Url.Action("seller", "Home")'">Discover More</a>
                                        </div>
                                    </div>
                                    <div class="seller-box buyer-box">
                                        <div class="postbox-images">
                                <img src="~/images/buyers-bg.png" />
                                        </div>
                            <h2 class="main-heading-content">Buyers</h2>
                                        <h3>Do you buy Beer or Breweries?</h3>
                                        <p>Discover and purchase authentic, small batch brands.</p>
                                        <div class="discover-more">
                                <a href="#" class="discover-btn" onclick="location.href='@Url.Action("buyer", "Home")'">Discover More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!---End Main Banner Sub Section-->

                    </div>
                </div>
            </section>
            <section class="subtext-mainbanner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="whychoose-us-block">
                                        <div class="icon-place">
                                <img src="~/images/book-icon.png" />
                                        </div>
                                        <div class="icon-heading">
                                            <h3><a href="#">Who are we?</a></h3>
                                        </div>
                                        <div class="icon-description">
                                            <p>We're bold, authentic and passionate in everything we do.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="whychoose-us-block">
                                        <div class="icon-place">
                                <img src="~/images/mic-icon.png" />
                                        </div>
                                        <div class="icon-heading">
                                            <h3><a href="#">What do we do?</a></h3>
                                        </div>
                                        <div class="icon-description">
                                            <p>We're bold, authentic and passionate in everything we do.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="whychoose-us-block">
                                        <div class="icon-place">
                                            <img src="~/images/play-video-icon.png" />
                                        </div>
                                        <div class="icon-heading">
                                            <h3><a href="#">How do we do it?</a></h3>
                                        </div>
                                        <div class="icon-description">
                                            <p>We're bold, authentic and passionate in everything we do.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="whychoose-us-block">
                                        <div class="icon-place">
                                            <img src="~/images/globe-icon.png" />
                                        </div>
                                        <div class="icon-heading">
                                            <h3><a href="#">We work with?</a></h3>
                                        </div>
                                        <div class="icon-description">
                                            <p>We're bold, authentic and passionate in everything we do.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="why-choose-content">
                                <h5 class="sub-heading">Why Choose us</h5>
                                <h2 class="main-heading-content">Join BevPort & quickly develop relationships with restaurants, bars and retailers.</h2>
                                <p class="content-para">Use the power of the Internet to get distribution and sell more. Need to get to market fast? That’s not easy as it sounds. It’s hard to get distribution. Until you BevPort.</p>
                                <ul>
                                    <li><img src="~/images/check12.png" />Innovate new brands.</li>
                                    <li><img src="~/images/check12.png" />Access new markets.</li>
                                    <li><img src="~/images/check12.png" />Own account relationships.</li>
                        <li><img src="~/images/check12.png" />Fill any distribution gaps.</li>
                                </ul>
                                <div class="discover-more">
                        <a href="#" class="discover-btn" onclick="location.href='@Url.Action("aboutus", "Home")'">Discover More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="kpi-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="kpi-content">
                                <h5 class="sub-heading">Check metrics</h5>
                                <h2 class="main-heading-content">Distribution that Empowers Brands</h2>
                                <p class="content-para">Numbers don’t lie. We empower every aspect of your distribution so you can make a material impact on your bottom line.</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="counter_text">
                                            <div class="counter">10K<span class="counter_suffix">+</span></div>
                                            <div class="descriptioncount"><p>Products in distribution</p></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="counter_text">
                                            <div class="counter">10<span class="counter_suffix">K</span></div>
                                            <div class="descriptioncount"><p>Buyers</p></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="counter_text">
                                            <div class="counter">50<span class="counter_suffix">%</span></div>
                                            <div class="descriptioncount"><p>Of the u.s. market covered</p></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="counter_text">
                                            <div class="counter">15<span class="counter_suffix">K</span></div>
                                            <div class="descriptioncount"><p>Active Member</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="kpi-image-section pull-right">
                                <img class="img-responsive" src="~/images/kpi-side-img.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="video-bg-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div class="video-area">
                                <div class="video-container">
                                    <iframe width="100%" height="434" src="https://www.youtube.com/embed/VqNxYtM_Cf8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                                <h5>LATEST video</h5>
                                <h2 class="main-heading-content whitetext">Introduction to BevPort</h2>
                                <p>Makers and Buyers who love the heck out of what they do. Beer geeks, party people and rockstar business owners.</p>
                                <div class="banner-btn-set">
                        <a href="#" class="btn btn-primary" onclick="location.href='@Url.Action("contactus", "Home")'">Contact Today</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </section>
            <section class="testimonial-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="testimonial-main-img">
                                <img class="img-responsive" src="~/images/testimonail-side-img.jpg" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="testimonial-text-block">
                                <h5 class="sub-heading">Testimonials</h5>
                                <h2 class="main-heading-content">What Our Clients Say</h2>
                                <div class="testimonial-quote-icon">
                                    <img src="~/images/home12-quote.png" />
                                </div>
                                <div id="carousel-example-generic-testimonail" class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="row" style="padding: 20px">
                                                <p class="testimonial_para">Innovation brands. Emerging brands. Any brand in need of distribution. Brands expanding to new markets. Anyone who loves authentic products.</p><br />
                                                <div class="row">
                                                    <!-- <div class="col-sm-2">
                                                        <img src="http://demos1.showcasedemos.in/jntuicem2017/html/v1/assets/images/jack.jpg" class="img-responsive" style="width: 80px;">
                                                        </div> -->
                                                    <div class="col-sm-10 testimonial-username">
                                                        <h4><strong>Jack Andreson</strong></h4>
                                                        <p class="testimonial_subtitle"><span>Customer</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row" style="padding: 20px">
                                                <p class="testimonial_para">Innovation brands. Emerging brands. Any brand in need of distribution. Brands expanding to new markets. Anyone who loves authentic products.</p><br />
                                                <div class="row">
                                                    <!-- <div class="col-sm-2">
                                                    <img src="http://demos1.showcasedemos.in/jntuicem2017/html/v1/assets/images/kiara.jpg" class="img-responsive" style="width: 80px; display: none;">
                                                    </div> -->
                                                    <div class="col-sm-10 testimonial-username">
                                                        <h4><strong>Kiara Andreson</strong></h4>
                                                        <p class="testimonial_subtitle"><span>Customer</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="controls testimonial_control">
                                    <a class="testimonial_btn left" href="#carousel-example-generic-testimonail"
                                       data-slide="prev"></a>

                                    <a class="testimonial_btn right" href="#carousel-example-generic-testimonail"
                                       data-slide="next"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="latest-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-head">
                                <h5 class="sub-heading">Plans</h5>
                                <h2 class="main-heading-content">Seller's Membership</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="boxed_block_item">
                                <div class="price_item_wrapper">
                                    <div class="price_item_title-elementor">
                                        <h3>Monthly</h3>
                                    </div>
                                    <div class="gt3_price_item-cost-elementor">
                                        <span class="price_item_prefix-elementor">$</span>29.99
                                    </div>
                                </div>
                                <div class="price_item_body">
                                    <ul>
                                        <li>Priority Email Support</li>
                                        <li>Enhanced Listing</li>
                                        <li>Sell Sheets</li>
                                    </ul>
                                </div>    
                                <div class="price_item_button">
                         <a href="@Url.Action("index","User")">Get Started</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="boxed_block_item">
                                <div class="price_item_wrapper">
                                    <div class="price_item_title-elementor">
                                        <h3>Yearly</h3>
                                    </div>
                                    <div class="gt3_price_item-cost-elementor">
                                        <span class="price_item_prefix-elementor">$</span>329.89
                                    </div>
                                    <div class="price_item_body">
                                        <ul>
                                            <li>Priority Email Support</li>
                                            <li>Enhanced Listing</li>
                                            <li>Sell Sheets</li>
                                        </ul>
                                    </div>
                                    <div class="price_item_button">
                            <a href="@Url.Action("index","User")">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="boxed_block_item call-ctg">
                                <div class="call-us">
                                    <div class="call-us-img">
                            <img src="~/images/services-centers.jpg" />
                                    </div>
                                    <h3>Call Us</h3>
                                    <p><i class="fa fa-phone-square" aria-hidden="true"></i> <a href="tel:800 XXXX XXX">800 XXXX XXX</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h2 class="footer-heading">Quick Links</h2>
                            <ul>
                    

                    <li><a href="@Url.Action("index","Home")" >Home</a></li>
                    <li><a href="@Url.Action("aboutus","Home")" >About Us</a></li>
                                <li><a href="#">Services</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading">Trending</h2>
                            <ul>
                    <li><a href="@Url.Action("seller","Home")" >Sellers</a></li>
                    <li><a href="@Url.Action("buyer","Home")" >Buyers</a></li>
                    <li><a href="@Url.Action("membershipplan","Home")" >Membership</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading">Quick Links</h2>
                            <ul>
                    <li><a href="@Url.Action("contactus","Home")">Contact Us</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading">Quick Links</h2>
                            <p><a href="#">800 XXXX XXX</a></p>
                            <p><a href="#">support@bevport.com</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="newsletter">
                                <h2 class="elementor-heading-title">BevPort Newsletter</h2>
                                <p>Be the first to know about our new arrivals and exclusive offers.</p>
                                <div class="newsletter-form">
                                    <form name="sds">
                                        <div class="mc4wp-form-fields">
                                            <div class="mc_merge_var">
                                                <input type="email" name="EMAIL" placeholder="Email Address" required="">
                                            </div>
                                            <div class="mc_signup_submit">
                                                <input type="submit" value="Sign up">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ftr-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyrights &copy; 2023 All Rights Reserved by BevPort.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
